body 
{background-color: slateblue;
}

h1 
{

    color: cyan;
    background-color: antiquewhite;
}

#show_sketch
{
    float: right;
}

canvas 
{ 
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 5s;
    margin-top: 50px;
    animation-iteration-count: infinite;

}

@keyframes example{
    from {box-shadow: 1px 1px 38px rgb(68, 156, 238);}
    to {box-shadow: 1px 1px 38px darkred;}
}

p 
{
    padding-top: 10px;
    font-size: 25px;
}